<% include ./partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header"><%= blog.title %></div>
	<div class ="ui top attached">
		<div class="item">
			<div class="content">
				<span><%= blog.created.getFullYear() %> by <%= blog.author.username %></span>
			</div>
			<div class="description">
				<p><%- blog.body %></p>
			</div>
			<!-- Have access to the blog object and current user from our app.use on the home page.
			     Do not have access to foundBlog or the req.user._id value -->
			<% if (currentUser && blog.author.id.equals(currentUser._id)) { %>
				<a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
				<form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
					<button class="ui red basic button">Delete</button>
				</form>
			<% } %>
		</div>
	</div>
</div>

<% include ./partials/footer %>